<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<title>첫번째 페이지</title>
</head>
<style>
    table, tr, td, th{
        border : 1px solid black;
        border-collapse: collapse;
        padding : 5px 10px;
        text-align: center;
    }
</style>
<body>
	<div id="app">
		<div>학번 : <input v-model="info.stuNo"></div>
		<div>이름 : <input v-model="info.stuName"></div>
        <button @click="fnLogin">로그인</button>
	</div>
</body>
</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                info : {
                    stuNo : "",
                    stuName : ""
                }
            };
        },
        methods: {
            fnLogin(){
                let self = this;
				fetch("http://localhost:3000/student/login",{
                    method : "POST",
                    headers : {
                        "Content-type" : "application/json"   
                    },
                    body : JSON.stringify(self.info)
                })
                    .then( res => res.json() )
                    .then( data => {
                        console.log(data);
                        if(data.result == "success"){
                            alert(data.msg);
                            location.href="student-list.html";
                        }else{
                            alert(data.msg);
                        }
                        
                    } )
            }
        },
        mounted() {
            var self = this;
        }
    });
    app.mount('#app');
</script>